html {
  scroll-behavior: smooth;
}

body { 
  padding-top: 70px; 
}

.container-fluid {
  padding: 0;
  height: 100% !important;
  width: 100% !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'UniSans', sans-serif;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
}

.testimonial-section {
  background: #f1f1f1;
  padding: 80px 0;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}


.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: .3s;
  cursor: pointer;
  margin-top:10px;
}

.testimonial-pics img:hover, .testimonial-pics img.active {
  filter: none;
}


.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
}

.testimonial .description {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

#logo {
  align-content: center;
}

#testi-heading {
	text-align: -webkit-center;
}

#nav-bar {
	background-color: #403D39;
}

#sticky-footer {
	background-color: #F1EDE6;
}


#news {
  background-image:url("../img/Circle-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#product {
  background-image:url("../img/prod-logo.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: fixed;
    left: 10%;

}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 40px); }
    to   { transform: translate(0, -0px); }    
}

.box1 {
  position: relative;
  left: 10%;
  bottom: 5px;
}

.floating2 {  
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: fixed;
    left: 30%;

}

@keyframes floating2 {
    from { transform: translate(0,  0); }
    65%  { transform: translate(15px, 0); }
    to   { transform: translate(0, -0px); }    
}

.box2 {
  position: relative;
  left: 10%;
  bottom: 5px;
}


}

.branch {
  text-align: left;
}

.doctor {
  width: 250px;
  text-align: left;
}

.procedure {
  width: 295px;
  text-align: left;
}

#exampleFormControlInput2{
  width: 250px;
}

.captcha {
  border: 1px solid black;
  width: 200px;

}

.book {
  background-color: #55c0c1;
  width: 200px;
  color: white;
  margin-left: 10px;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


.parent {
  position: relative;
}

.logo1 {
  width: 10px;
  height: 10px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  left: 7%;
  top: 30px;
}


@keyframes float {
  0% {
    
    transform: translatey(-30px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo2 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 90px;
  left: 85%;
}


@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo3 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 250px;
  left: 170px;
}

@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo4 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 85%;
  left: 13%;
  display: none;
}

@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo5 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 370px;
  left: 55%;
}


@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo6 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 150%;
  left: 95%;
  display: none;
}

@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo7 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 480px;
  left: 3%;
}

@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.logo8 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 100px;
  left: 30%;
}

.logo9 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 460px;
  left: 95%;
}

.logo10 {
  width: 50px;
  height: 50px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  top: 530px;
  left: 70%;
}



@keyframes float {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}



.box1 {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  top: 70px;
  left: 80px;
}

.box2 {
  width: 180px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  top: -50px;
  left: 650px;
}

.box3 {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  top: 150px;
  left: 65%;
}

.box4 {
  width: 180px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  top: 300px;
  left: 20px;
}

.box5 {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  top: 350px;
  left: 350px;
}

.tagline {
  top: 200px;
  left: 500px;
}


#services {
  margin-top: 600px;
}


.prod-banner {
  background-image: url("../img/prod-banner.jpg");
  background-repeat: no-repeat;
}


.btn-secondary {
  background-color: #abdac0;
  border-color: none;
  border:0;
}


.row {
  margin-right: 0;
  margin-left: 0;
}


.btn-cat {
  display: block;
  width: 170px;
  background-color: #C4E2BF;
}

.img-thumbnail-cat{
  width: 200px;
  display: block;
}

.img-thumbnail-all{
  width: 25%;
  border-radius: 15px;
}

.categorybg{
  background-image: url('../img/categorybg.jpg');
  background-size: cover;
  background-position:;
  background-repeat: no-repeat;
  background-attachment: ;
}

.page-link {
  background-color: #C4E2BF;
  color: white;
}

.page-item.active .page-link {
  background-color: #57c1c1;
  color: white;
}

.related {
  background-color: #c5e3bf;
}

.d-block w-100.active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-star {
  color: red;
}
