body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

.user_card {
	height: 400px;
	width: 350px;
	margin-bottom: auto;
	margin-top: 50px;
	background-color: #d4efdf;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.brand_logo_container {
	margin-top: 30px;
	position: absolute;
	height: 90px;
	width: 90px;
	top: -75px;
	border-radius: 50%;
	background: white;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 70px;
	width: 70px;	
	margin-top: px;
	border-radius: 50%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d4efdf;
}

.form_container {
	margin-top: 100px;
}

.btn_btn {
	width: 100%;
	background: green !important;
	color: white !important;
}


.btn_btn:focus {
	box-shadow: none;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: green !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
	
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: green !important;
}

.btn-add {
	background-color: #54bfc0;
	color: white;
}

.btnsave{
	background-color: #54bfc0;
	color: white;
}

